<?xml version="1.0" encoding="utf-8"?>
<Media Key="e551c955-4d3f-436e-82bd-73f5692626b6" Alias="about-contenc.svg" Level="2">
  <Info>
    <Parent Key="41d90b24-a4a8-422c-8b85-814489aa1303">Background</Parent>
    <Path>/Background/aboutContencsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T22:28:44</CreateDate>
    <NodeName Default="about-contenc.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u30pgbze/about-contenc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>