<?xml version="1.0" encoding="utf-8"?>
<Media Key="41d90b24-a4a8-422c-8b85-814489aa1303" Alias="Background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Background</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-26T19:45:52</CreateDate>
    <NodeName Default="Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>