<?xml version="1.0" encoding="utf-8"?>
<Media Key="15b46c16-ce61-48c6-b6bd-f5804e64abc5" Alias="clients.svg" Level="2">
  <Info>
    <Parent Key="41d90b24-a4a8-422c-8b85-814489aa1303">Background</Parent>
    <Path>/Background/clientssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T20:54:17</CreateDate>
    <NodeName Default="clients.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2tibn310/clients.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>