<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfd7b3a8-bc49-45d5-9b40-c6b7cfe4b3f6" Alias="Contact-pic.svg" Level="2">
  <Info>
    <Parent Key="41d90b24-a4a8-422c-8b85-814489aa1303">Background</Parent>
    <Path>/Background/ContactPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T23:42:25</CreateDate>
    <NodeName Default="Contact-pic.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lihhkpks/contact-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>