<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb86675e-96b7-470f-80ae-fceeed7c4c5b" Alias="hero-bg.svg" Level="2">
  <Info>
    <Parent Key="41d90b24-a4a8-422c-8b85-814489aa1303">Background</Parent>
    <Path>/Background/heroBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T19:46:14</CreateDate>
    <NodeName Default="hero-bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vtncicnm/hero-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>