<?xml version="1.0" encoding="utf-8"?>
<Media Key="c86a8f0e-4e34-4fd9-97e7-ddce33b8ecee" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="41d90b24-a4a8-422c-8b85-814489aa1303">Background</Parent>
    <Path>/Background/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T23:28:40</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5qzmqkrp/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>