<?xml version="1.0" encoding="utf-8"?>
<Media Key="555810e5-a025-482e-9377-be2bd5ebe6f5" Alias="logo-4.svg" Level="2">
  <Info>
    <Parent Key="588fc5da-7084-48fc-9002-1bd65b2b8ed1">partner</Parent>
    <Path>/partner/logo4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T12:22:59</CreateDate>
    <NodeName Default="logo-4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4wpvnz4/logo-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>