<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b7e564d-d860-4ae1-957c-72a9abacb3a8" Alias="logo-2.svg" Level="2">
  <Info>
    <Parent Key="588fc5da-7084-48fc-9002-1bd65b2b8ed1">partner</Parent>
    <Path>/partner/logo2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T12:22:59</CreateDate>
    <NodeName Default="logo-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5vny0l1/logo-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>