<?xml version="1.0" encoding="utf-8"?>
<Media Key="85ee370e-9fe2-44a4-bb3a-085d5606ddca" Alias="logo-6.svg" Level="2">
  <Info>
    <Parent Key="588fc5da-7084-48fc-9002-1bd65b2b8ed1">partner</Parent>
    <Path>/partner/logo6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T12:23:00</CreateDate>
    <NodeName Default="logo-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5sfeyz5z/logo-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>