<?xml version="1.0" encoding="utf-8"?>
<Media Key="92f0b53e-89ce-425e-bf09-a99bd2b0b623" Alias="logo-1.svg" Level="2">
  <Info>
    <Parent Key="588fc5da-7084-48fc-9002-1bd65b2b8ed1">partner</Parent>
    <Path>/partner/logo1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T12:22:59</CreateDate>
    <NodeName Default="logo-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqefe2gv/logo-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>