<?xml version="1.0" encoding="utf-8"?>
<Media Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c" Alias="Member" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Member</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T20:00:56</CreateDate>
    <NodeName Default="Member" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>