<?xml version="1.0" encoding="utf-8"?>
<Media Key="d69eb7ae-fe32-4df9-b3fb-8f9d008c2fa4" Alias="member5.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:14</CreateDate>
    <NodeName Default="member5.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lqfdynbj/member5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>