<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fbdf014-80b7-4a9f-b2c5-bcdaed90c11d" Alias="member3.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:13</CreateDate>
    <NodeName Default="member3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zgb55nm/member3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>