<?xml version="1.0" encoding="utf-8"?>
<Media Key="5914e559-902e-43d5-bcfa-adf36520f1e0" Alias="member1.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:13</CreateDate>
    <NodeName Default="member1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vnmlnozv/member1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>