<?xml version="1.0" encoding="utf-8"?>
<Media Key="979b1cfb-fca3-43e2-844d-a1b7ebedce32" Alias="member4.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:14</CreateDate>
    <NodeName Default="member4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgqds3ny/member4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>