<?xml version="1.0" encoding="utf-8"?>
<Media Key="257e20aa-becb-408a-9b28-93e2f5cbcf01" Alias="member7.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:14</CreateDate>
    <NodeName Default="member7.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lconzr4q/member7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>