<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd819f5f-3bd8-4e19-a561-6935f1e4acfc" Alias="member2.svg" Level="2">
  <Info>
    <Parent Key="823dbce7-fb1f-4936-87e5-8a45c422ab6c">Member</Parent>
    <Path>/Member/member2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:01:13</CreateDate>
    <NodeName Default="member2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vurcgh4d/member2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>