<?xml version="1.0" encoding="utf-8"?>
<Media Key="03623f25-24a4-42a6-b164-22e6b779dc1b" Alias="onarix-logo.svg" Level="2">
  <Info>
    <Parent Key="30b38090-5bd2-4273-a160-b9d53b66fd9a">Logo</Parent>
    <Path>/Logo/onarixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:45:51</CreateDate>
    <NodeName Default="onarix-logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04bmbyn5/onarix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>