<?xml version="1.0" encoding="utf-8"?>
<Media Key="588fc5da-7084-48fc-9002-1bd65b2b8ed1" Alias="partner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-27T12:22:20</CreateDate>
    <NodeName Default="partner" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>