<?xml version="1.0" encoding="utf-8"?>
<Media Key="d53f5e47-f7d6-470f-8848-c515958990dc" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="c46c589d-268b-4afb-93a7-ca5e408679d2">Servic</Parent>
    <Path>/Servic/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T23:02:22</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wxrj0n4n/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>