<?xml version="1.0" encoding="utf-8"?>
<Media Key="565a0102-e4c4-4469-9ec1-0fc6dd7f3e45" Alias="projectItems.svg" Level="2">
  <Info>
    <Parent Key="81e5a7fc-6c0c-40fb-8ec5-40ad5f844482">Project</Parent>
    <Path>/Project/projectItemssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T10:26:43</CreateDate>
    <NodeName Default="projectItems.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4c4prng5/projectitems.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>