<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aa8f185-a753-49e1-88b4-7462a2569053" Alias="project4.svg" Level="2">
  <Info>
    <Parent Key="81e5a7fc-6c0c-40fb-8ec5-40ad5f844482">Project</Parent>
    <Path>/Project/project4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T19:47:09</CreateDate>
    <NodeName Default="project4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3gavgci/project4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>