<?xml version="1.0" encoding="utf-8"?>
<Media Key="88f835ec-5edf-44dc-94d2-318dc1dce99c" Alias="project1.svg" Level="2">
  <Info>
    <Parent Key="81e5a7fc-6c0c-40fb-8ec5-40ad5f844482">Project</Parent>
    <Path>/Project/project1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T19:47:08</CreateDate>
    <NodeName Default="project1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0efu0we/project1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>