<?xml version="1.0" encoding="utf-8"?>
<Media Key="81e5a7fc-6c0c-40fb-8ec5-40ad5f844482" Alias="Project" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T19:45:16</CreateDate>
    <NodeName Default="Project" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>