<?xml version="1.0" encoding="utf-8"?>
<Media Key="60a2054d-bcf1-4c15-aa46-21ef3f58e3f6" Alias="projectItems2.svg" Level="2">
  <Info>
    <Parent Key="81e5a7fc-6c0c-40fb-8ec5-40ad5f844482">Project</Parent>
    <Path>/Project/projectItems2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T10:26:43</CreateDate>
    <NodeName Default="projectItems2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x42abaxk/projectitems2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>