<?xml version="1.0" encoding="utf-8"?>
<Media Key="c46c589d-268b-4afb-93a7-ca5e408679d2" Alias="Servic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Servic</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-29T19:07:35</CreateDate>
    <NodeName Default="Servic" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>