<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f6f166b-d177-4753-b842-239c39f309b1" Alias="services6.svg" Level="2">
  <Info>
    <Parent Key="c46c589d-268b-4afb-93a7-ca5e408679d2">Servic</Parent>
    <Path>/Servic/services6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T19:07:54</CreateDate>
    <NodeName Default="services6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tgvn01lm/services6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>