<?xml version="1.0" encoding="utf-8"?>
<Media Key="715a236a-b68e-4bb1-9d55-276b98401275" Alias="services2.svg" Level="2">
  <Info>
    <Parent Key="c46c589d-268b-4afb-93a7-ca5e408679d2">Servic</Parent>
    <Path>/Servic/services2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T19:07:53</CreateDate>
    <NodeName Default="services2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tcppre2v/services2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>