<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3b76b90-b388-464d-9d75-ed37db526aa8" Alias="services5.svg" Level="2">
  <Info>
    <Parent Key="c46c589d-268b-4afb-93a7-ca5e408679d2">Servic</Parent>
    <Path>/Servic/services5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T19:07:54</CreateDate>
    <NodeName Default="services5.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mllbkamt/services5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>