<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fcdb706-9c69-4257-9541-5a19d7d9a213" Alias="Project " Level="2">
  <Info>
    <Parent Key="9dcf72a1-67ac-42e5-9a59-1b4c9e94071a">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Project</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-10-05T19:38:56</CreateDate>
    <NodeName Default="Project " />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1e0533f6-92bb-4965-ba34-ea87bc05cda1">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>