<?xml version="1.0" encoding="utf-8"?>
<Content Key="3913f4f3-6f80-4474-ac40-ad744f636baf" Alias="Services" Level="2">
  <Info>
    <Parent Key="9dcf72a1-67ac-42e5-9a59-1b4c9e94071a">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-28T22:11:38</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ca507bb2-96ac-46ab-a8ea-9d4644d69163">serviceListPage</Template>
  </Info>
  <Properties>
    <headlineContent>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </headlineContent>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>