<?xml version="1.0" encoding="utf-8"?>
<Content Key="231b4f5c-081c-4810-ad4b-7181664ef33f" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-26T23:33:49</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeImage>
      <Value><![CDATA[[
  {
    "key": "2983d950-00ff-4773-a74a-33241634701a",
    "mediaKey": "dfd7b3a8-bc49-45d5-9b40-c6b7cfe4b3f6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeImage>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "61780e8b-3a33-4b21-8bdd-166734ca5937",
    "mediaKey": "03623f25-24a4-42a6-b164-22e6b779dc1b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "348dcbc9-fc8b-4b61-9d84-32d551530d5d",
      "udi": "umb://element/5f9f671fe08043759b564f78451c5656",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "http://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "348dcbc9-fc8b-4b61-9d84-32d551530d5d",
      "udi": "umb://element/d99f75a4d4924b2a969759d9f4bde1d4",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "http://LinkedIn.com/onatrix"
    },
    {
      "contentTypeKey": "348dcbc9-fc8b-4b61-9d84-32d551530d5d",
      "udi": "umb://element/2f4330fe984f4d4092291390112f03eb",
      "platformName": "[\u0022x (formerly Twitter)\u0022]",
      "platformAccountUrl": "http://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f9f671fe08043759b564f78451c5656",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2f4330fe984f4d4092291390112f03eb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d99f75a4d4924b2a969759d9f4bde1d4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>