<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0372719-2dd3-4964-b3be-de377f97f87c" Alias="About Page - Section - Block Grid" Level="1">
  <Info>
    <Name>About Page - Section - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d1a7132b-b7ed-4d3a-ae0a-07769a554b96",
      "name": "Containers"
    },
    {
      "key": "61a6201a-4b40-420a-beb3-1d35bc208ed9",
      "name": "Components"
    },
    {
      "key": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "0c75de0b-9ecd-4d9b-b0e2-1946f28af66b",
      "allowAtRoot": true,
      "label": "section -**{=sectionTitle}**",
      "areas": [
        {
          "key": "0ce7fae5-e665-48b5-8620-c3f5257a1e15",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "d1a7132b-b7ed-4d3a-ae0a-07769a554b96"
    },
    {
      "contentElementTypeKey": "7ff62e0d-8482-4145-a10e-2b2810558305",
      "allowAtRoot": false,
      "groupKey": "d1a7132b-b7ed-4d3a-ae0a-07769a554b96",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "993aa65d-53b6-4656-81b9-eadc54e604e6",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8298e513-fe7b-4217-9923-eb9631d17a55",
      "allowAtRoot": false,
      "groupKey": "d1a7132b-b7ed-4d3a-ae0a-07769a554b96",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "def8345e-c49a-4885-b939-955586fd950d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "a7b20905-768b-4d3f-9ed6-9f5b45132007",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5d86dbe3-4219-4f31-bad1-42f625d14e31",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d08030ce-1cf4-40ff-b3c9-984fefb07b48",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c49c1ec3-035b-4bd2-8da1-0a8c8a9b6070",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d8305b62-058f-4001-85b2-2129775a3974",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2bdeb8e6-dfc8-451b-993f-15111531212f",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bd2c6a48-1166-43f2-bfec-2fa6331c2331",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5599e366-b2ac-4465-9a89-c2990cdbaa23",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d909b36b-14e1-41ec-a891-691d4d993155",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "allowInAreas": true,
      "label": "picture"
    },
    {
      "contentElementTypeKey": "f1c1b2d4-57ea-4f06-8efe-969e89b7319e",
      "allowAtRoot": false,
      "groupKey": "4b2d8ef3-606c-4c14-9d17-8c6b52b2e8a4",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ac21ebff-81af-4202-92b3-431d5eaffd7b",
      "allowAtRoot": false,
      "groupKey": "d1a7132b-b7ed-4d3a-ae0a-07769a554b96",
      "allowInAreas": true,
      "label": "container (full width)",
      "areas": [
        {
          "key": "2d6c8c96-dd1c-4a95-bc38-4d94bd6600e8",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "1380f767-9e76-4c4a-8156-2ce2eebb5afd",
      "allowAtRoot": false,
      "groupKey": "61a6201a-4b40-420a-beb3-1d35bc208ed9",
      "label": "team slider",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>