<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dfeaea2-3056-4902-a9c2-0849711b1787" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Containers",
      "key": "ab9257e2-f5eb-4e19-b20c-7957dab082be"
    },
    {
      "name": "Content",
      "key": "c4de8356-8248-4afc-b9ea-998e7fd8cc92"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "2bdeb8e6-dfc8-451b-993f-15111531212f",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d8305b62-058f-4001-85b2-2129775a3974",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "allowInAreas": true,
      "label": "heading 5"
    },
    {
      "contentElementTypeKey": "c49c1ec3-035b-4bd2-8da1-0a8c8a9b6070",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d08030ce-1cf4-40ff-b3c9-984fefb07b48",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5d86dbe3-4219-4f31-bad1-42f625d14e31",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a7b20905-768b-4d3f-9ed6-9f5b45132007",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f26a9c73-ab33-4fd5-a879-9427bd28fd37",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bd2c6a48-1166-43f2-bfec-2fa6331c2331",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "button link ",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5599e366-b2ac-4465-9a89-c2990cdbaa23",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "pragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f1c1b2d4-57ea-4f06-8efe-969e89b7319e",
      "allowAtRoot": false,
      "groupKey": "c4de8356-8248-4afc-b9ea-998e7fd8cc92",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0c75de0b-9ecd-4d9b-b0e2-1946f28af66b",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "allowInAreas": false,
      "areas": [
        {
          "key": "21b357ff-a44e-4e98-9f19-2e518cfb0011",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "ab9257e2-f5eb-4e19-b20c-7957dab082be"
    },
    {
      "contentElementTypeKey": "7ff62e0d-8482-4145-a10e-2b2810558305",
      "allowAtRoot": false,
      "groupKey": "ab9257e2-f5eb-4e19-b20c-7957dab082be",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "b88159d3-dcdc-4c85-aca4-0e017cb1084c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8298e513-fe7b-4217-9923-eb9631d17a55",
      "allowAtRoot": false,
      "groupKey": "ab9257e2-f5eb-4e19-b20c-7957dab082be",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "f374678d-43be-4ad3-a33a-1f31a2ca758f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>