<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e09b3b3-c506-4c3b-8c4c-dbf0cb28d8c0" Alias="Settings Page - Social Media Platforms " Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "348dcbc9-fc8b-4b61-9d84-32d551530d5d",
      "label": "**{=platfotmName}** -{=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>