<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d63df91a-f8d8-4613-8556-0f9c36bcc815" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "LinkedIn",
    "x (formerly Twitter)"
  ]
}]]></Config>
</DataType>