<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29fea601-c1db-4a5d-8b7d-b2beca9738a6" Alias="Team Slider - Slides" Level="1">
  <Info>
    <Name>Team Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8abbc785-a38a-467a-a9ef-e51433ba6a0a",
      "label": "**team item** - {=memberName}"
    }
  ]
}]]></Config>
</DataType>